{{ form_start(form, {'attr': {'style' : 'max-width : 900px'}}) }}

        <div class="my-1">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_help(form.title) }}
        </div>

        <div class="row">
            <div class="col-md-8 my-1">
                {{ form_label(form.synopsis) }}
                {{ form_errors(form.synopsis) }}
                {{ form_widget(form.synopsis) }}
                {{ form_help(form.synopsis) }}
            </div>

            <div class="col-md-4 my-1">
                {{ form_label(form.photoFile) }}
                {{ form_errors(form.photoFile) }}
                {{ form_widget(form.photoFile) }}
                {{ form_help(form.photoFile) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 my-1">
                {{ form_label(form.country) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country) }}
                {{ form_help(form.country) }}
            </div>

            <div class="col-md-4 my-1">
                {{ form_label(form.year) }}
                {{ form_errors(form.year) }}
                {{ form_widget(form.year) }}
                {{ form_help(form.year) }}
            </div>

            <div class="col-md-4 my-1">
                {{ form_label(form.category) }}
                {{ form_errors(form.category) }}
                {{ form_widget(form.category) }}
                {{ form_help(form.category) }}
            </div>
        </div>

        <div class="d-flex justify-content-end my-3">
            <button class="btn btn-outline-black m-1">
                {{ button_label|default('Créer') }}&nbsp;&nbsp;<i class="bi bi-check-lg"></i>
            </button>
        </div>

{{ form_end(form) }}
