{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}

    <h1 class="m-3">
        Liste des séries
    </h1>

    <a href="{{ path('program_new') }}" class="d-inline-block m-3">
        <button class="btn btn-outline-black m-1">
            Créer une série&nbsp;&nbsp;<i class="bi bi-plus-circle"></i>
        </button>
    </a>

    <div class="row d-flex justify-content-start m-3">
    {% for program in programs %}
        <a href="{{ path('program_show', {'id': program.id}) }}" class="card m-3 p-0" style="width: 400px;">
            <img class="card-img-top"
                src="{{ vich_uploader_asset(program, 'photoFile')|imagine_filter('square400x300') }}"
                alt="{{ program.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <p class="card-text">
                    {{ program.category.name }} | {{ program.year }} | {{ program.country }}
                </p>
                <div class="row d-flex justify-content-end">
                    {{ include('program/_button_edit.html.twig') }}
                    {{ include('program/_button_delete.html.twig') }}
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </a>
    {% else %}
        Aucune série trouvée
    {% endfor %}
    </div>

{% endblock %}
